html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.splash-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-screen .loading-dot {
  font-size: 60px;
  position: relative;
  animation: ease-in-out infinite alternate;
  animation-name: run;
  animation-duration: 1.2s;
}

@keyframes run {
  0% {
    left: -90px;
    color: #eee;
  }
  50% {
    color: #666;
  }
  100% {
    left: 90px;
    color: #eee;
  }
}

.App {
  text-align: center;
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  header {
    text-align: left;
    background-color: #1b2938;
  }

  main {
    margin: 70px auto 20px auto;
    max-width: 600px;
    padding: 20px;
  }
}

.garage-card {
  margin: 0 auto;
  width: 280px;

  .opened-count {
    margin-top: 20px;
    strong {
      white-space: nowrap;
    }
  }

  .garage-container {
    position: relative;
    width: 280px;

    .garage-door-container {
      position: absolute;
      top: 114px;
      left: 46px;
      width: 188px;
      height: 114px;
      overflow: hidden;

      .garage-door {
        position: absolute;
        top: 0;
        left: 0;
        width: 188px;
        height: 115px;
        background-color: #fff;
        transition: 2s top ease;

        background: linear-gradient(to bottom, #607d8a 50%, #90a4ad 50%);
        background-size: 100% 46px;
      }
    }
    .garage-door-button {
      position: absolute;
      left: 22px;
      top: 150px;
      border: solid 3px #90a4ad;
      height: 30px;
      width: 20px;
      font-size: 0;
      padding: 0;
      cursor: pointer;

      background: linear-gradient(to bottom, transparent 65%, #90a4ad 65%);
      background-position: 0 25%;

      &::after {
        content: '';
        width: 3px;
        height: 3px;
        background-color: #00ff00;
        position: absolute;
        bottom: 2px;
        left: 2px;
      }
    }
    .garage-text-area {
      margin-top: 10px;
      color: #666;

      .text {
        margin-top: 6px;
        font-size: 1.5em;
        color: blue;
        text-transform: uppercase;
      }
    }
    &.open {
      .garage-door-container {
        .garage-door {
          top: -113px;
        }
      }
    }
    &.pending {
      opacity: 0.7;
      .garage-door-container {
        .garage-door {
          opacity: 0.7;
        }
      }
    }
  }
}
code {
  width: 100%;
  overflow: scroll;
  display: block;
  background-color: #eee;
  border: solid 1px #ccc;
}
code pre {
  margin: 5px;
  padding: 5px;
  text-align: left;
}

.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-top: 100px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #f00;
  border-color: #666 transparent #666 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
